Markdown==3.1.1
PyYAML==5.1.2
dbxfs==1.0.43
docutils==0.15.2
sshch==1.0
oslo.config==6.11.2
oslo.utils==3.41.5
oslo.serialization==2.29.2
python-keystoneclient==3.21.0
python-swiftclient==3.8.1
entrypoints==0.3
enum34==1.1.10
invoke==1.4.1
libtmux==0.8.2
linode-cli==2.14.1
mock==3.0.5
post==2019.3.22
privy==6.0.0
py2app==0.19
query-string==2019.3.22
request==2019.3.22
requests==2.21.0
simplenote==2.1.4
six==1.11.0
terminaltables==3.1.0
tmuxp==1.5.3
urllib3==1.24.1
userspacefs==1.0.13
